@media (max-width: 1399px) {
  .banner-content h1 {
    font-size: 110px;
  }
  .banner-content h5 {
    font-size: 25px;
  }
  .menu .menutitle h2 {
    font-size: 32px;
  }
  .menu .menutitle h4 {
    font-size: 20px;
  }
}

@media (max-width: 1199px) {
  .banner-img img {
    transform: scale(1.2);
  }
  .offer {
    bottom: 20%;
    left: 60%;
    height: 120px;
    width: 120px;
  }
  .offer h3 {
    font-size: 30px;
  }
  .offer h3 strong {
    font-size: 40px;
  }
  .offer h3 span {
    font-size: 30px;
  }

  .banner-content {
    padding-top: 180px;
  }

  .banner-content h5 {
    font-size: 20px;
  }
  .banner-content h1 {
    font-size: 100px;
  }

  .banner-content h2 {
    font-size: 60px;
  }

  .heading h2 {
    font-size: 40px;
  }
}

@media (max-width: 991px) {
  .banner-img {
    transform: scale(1.2);
    display: block;
    margin: auto;
  }
  .offer {
    bottom: 15%;
    left: 20%;
    height: 90px;
    width: 90px;
  }
  .offer h3 {
    font-size: 20px;
  }
  .offer h3 strong {
    font-size: 30px;
  }
  .offer h3 span {
    font-size: 20px;
  }

  .banner-content {
    padding-top: 180px;
  }

  .banner-content h5 {
    font-size: 15px;
  }
  .banner-content h1 {
    font-size: 80px;
  }

  .banner-content h2 {
    font-size: 50px;
  }

  .heading h2 {
    font-size: 40px;
  }
  .menu .menutitle {
    top: 10px;
  }
  .navbar-nav.nav-link {
    text-align: center;
  }
  .navbar-nav.nav-link:hover {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .banner-img img {
    transform: scale(1);
    padding-bottom: 000px;
  }

  .offer {
    bottom: 20%;
    left: 30%;
    height: 110px;
    width: 110px;
  }
  .offer h3 {
    font-size: 30px;
  }
  .offer h3 strong {
    font-size: 40px;
  }
  .offer h3 span {
    font-size: 30px;
  }

  .banner-content {
    padding-top: 20px;
    text-align: center;
  }

  .banner-content h5 {
    font-size: 20px;
  }
  .banner-content h1 {
    font-size: 100px;
  }

  .banner-content h2 {
    font-size: 70px;
  }

  .heading h2 {
    font-size: 40px;
  }
  .menu .menutitle {
    top: 50px;
    left: 50px;
  }

  .menu img {
    padding: 20px;
  }
  .navbar-nav li {
    text-align: center;
    display: inline;
  }
  .navbar-nav.nav-link {
    text-align: center;
  }
  .navbar-nav.nav-link:hover {
    text-align: center;
  }
}

@media (max-width: 575px) {
  .banner-img img {
    transform: scale(1);
  }
  .offer {
    bottom: 20%;
    left: 20%;
    height: 90px;
    width: 90px;
  }
  .offer h3 {
    font-size: 20px;
  }
  .offer h3 strong {
    font-size: 30px;
  }
  .offer h3 span {
    font-size: 20px;
  }

  .banner-content {
    padding-top: 20px;
    text-align: center;
  }

  .banner-content h5 {
    font-size: 20px;
  }
  .banner-content h1 {
    font-size: 70px;
  }

  .banner-content h2 {
    font-size: 50px;
  }

  .heading h2 {
    font-size: 40px;
  }
  .menu .menutitle {
    top: 50px;
    left: 50px;
  }

  .menu img {
    padding: 20px;
  }
  .navbar-nav li {
    text-align: center;
    display: inline;
  }
  .navbar-nav.nav-link {
    text-align: center;
  }
  .navbar-nav.nav-link:hover {
    text-align: center;
  }
}
